body{
    background-color: rgb(235, 232, 232);
}
.container{
    max-width: 1200px;
    margin: auto;
}
.jumbutron{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #ccc;
    margin-top: 20px;
    font-size: 22px;
    color: rgb(32, 30, 30);
    box-shadow: 4px 4px 0 rgb(128, 125, 125);
    text-align: center;
    padding: 15px;
}
.title{
    text-align: center;
}

@media (max-width:500px){
    .jumbutron{
        font-size: 16px;
    }
}